<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title.nil? ? "Cowboy Jukebox" : "Cowboy Jukebox | #{@title}" %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <%= csrf_meta_tags %>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  	ga('create', 'UA-52634459-1', 'auto');
	  	ga('send', 'pageview');
  	</script>

</head>
<body>
<%= render partial: "application/navigation" %>
<%= yield %>
<div class="footer">
	<div class="container">
		<ul class="nav nav-pills pull-right">
  			<li><%= link_to "Home", root_path %></li>
	        <li><%= link_to "About", about_path %></li>
	        <li><%= link_to "Tour", tour_path %></li>
	        <li><%= link_to "Band", band_path %></li>
	        <li><%= link_to "Multimedia", multimedia_path %></li>
	        <li><%= link_to "Stage Plot", multimedia_path %></li>
	        <li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
</div>
</body>
</html>
