<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cowboy Jukebox</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "application/navigation" %>
<%= yield %>
<div class="footer">
	<div class="container">
		<ul class="nav nav-pills pull-right">
  			<li><%= link_to "Home", root_path %></li>
	        <li><%= link_to "About", about_path %></li>
	        <li><%= link_to "Tour", tour_path %></li>
	        <li><%= link_to "Band", band_path %></li>
	        <li><%= link_to "Multimedia", multimedia_path %></li>
	        <li><%= link_to "Press Kit", multimedia_path %></li>
	        <li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
</div>
</body>
</html>
